doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    nav
      a(class='active', href='/') Home
      a(class='active', href='/leaderboard') Leaderboard
      if user
        if user.isAdmin
          a(class='', href='/a/users/user') Users
        a(class='active', href='/g/play') Play
        a(class='', href='/u/profile') Profile
        a(class='', href='/u/logout') Logout #{user.username}
      else
        a(class='', href='/u/login') Login
    block content