extends layout

block content
  form(action='admin' method="post")
    h1 Users
    each user in users 
      div(class='userBox')
        h2 Username: #{user.username}
          label Delete User:
          input(type='submit', value='delete')
          h3 Roles
          h2 Account status: #{user.account_locked}
          ul
            each role in user.roles 
              li= role