extends layout

block content
  form(action='/a/users/user', method='post')
    h1 Users
    each user in users 
      div(class='userBox')
        h3 Username: #{user.username}
          label(for="status") Account Status: 
            //- input(type='checkbox')
            select(name="accountstatus", id='')
              each val in ["enabled","disabled"]
                  option=val
          
          h3 Roles
          ul
            each role in user.roles 
              li= role
          input(type='submit')
<!--ALTER USER 'user_name'@'host' ACCOUNT LOCK;
//ALTER USER 'user_name'@'host' ACCOUNT UNLOCK;-->
